services:
  etcd:
    container_name: milvus-etcd
    image: quay.io/coreos/etcd:v3.5.25
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/etcd:/etcd
    command: etcd -advertise-client-urls=http://etcd:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    healthcheck:
      test: [ "CMD", "etcdctl", "endpoint", "health" ]
      interval: 30s
      timeout: 20s
      retries: 3

  minio:
    container_name: milvus-minio
    image: minio/minio:RELEASE.2024-05-28T17-19-04Z
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9001:9001"
      - "9000:9000"
    volumes:
      - minio_data:/data
    command: minio server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  standalone:
    container_name: milvus-standalone
    image: milvusdb/milvus:v2.6.11
    command: [ "milvus", "run", "standalone" ]
    security_opt:
      - seccomp:unconfined
    environment:
      MINIO_REGION: us-east-1
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/milvus:/var/lib/milvus
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9091/healthz" ]
      interval: 30s
      start_period: 90s
      timeout: 20s
      retries: 3
    ports:
      - "19530:19530"
      - "9091:9091"
    depends_on:
      - "etcd"
      - "minio"

  # Redpanda (Kafka)
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp 1
      - --memory 512M
      - --reserve-memory 0M
      - --node-id 0
      - --check=false
      - --kafka-addr PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"

  redpanda-setup:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    depends_on:
      - redpanda
    entrypoint: [ "/bin/sh", "-c" ]
    command: |
      "
      # Wait for Redpanda to be ready
      until rpk cluster info --brokers redpanda:9092; do
        echo 'Waiting for Redpanda...'
        sleep 2
      done
      
      # Create your topic(s)
      rpk topic create raw-documents --brokers redpanda:9092 --partitions 1 --replicas 1
      
      echo 'Topic created successfully!'
      "

  # Flink Cluster
  jobmanager:
    image: flink:1.19.0-java17
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    volumes:
      - ./build/libs:/opt/flink/usrlib

  taskmanager:
    image: flink:1.19.0-java17
    depends_on:
      - jobmanager
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    volumes:
      - ./build/libs:/opt/flink/usrlib

  flink-job-submitter:
    image: flink:1.19.0-java17
    depends_on:
      - jobmanager
      - redpanda
    volumes:
      - ./build/libs:/opt/flink/usrlib
    entrypoint: /bin/sh -c
    command: |
      "
      until curl -s http://jobmanager:8081/overview | grep -q 'taskmanagers'; do
        echo 'Waiting for JobManager and TaskManagers...'
        sleep 2
      done
      
      echo 'Submitting Flink Job...'
      flink run -d -m jobmanager:8081 /opt/flink/usrlib/lumenstream-1.0-SNAPSHOT.jar
      "

volumes:
  minio_data: